.card-container {
    flex: 0 1 30%;
    margin: 20px 20px;
    height: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    margin: 0px 5px;
  }

  .card:hover {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
  }

  .movie-img {
      width: 100%;
      height: 85%;
  }

  .movie-release-title {
      padding: 2px 0px;
  }

  .movie-release-date {
      border: 1px solid black;
      border-radius: 1px;
      padding: 2px;
  }

  .movie-release-gender {
    padding: 2px 5px;
    color: gray;
    font-size: 12px;
  }